<!doctype html>
<html lang="en">
 <head>
<style>
.center {
 text-align: center;
}
</style>

 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initialscale=1">
 <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


 <title>{{emp}}</title>

 </head>
 <body>


<!--menu -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Seu Pedido</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     <li class="nav-item active">
        <a class="nav-link nav-link active" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link active" href="/register/">Criar conta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link active" href="/logar_usuario/">Acessar conta</a>
      </li>
    </div>
  </div>
</nav>

<!--jumb -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://res-2.cloudinary.com/dunz5zfpt/image/upload/f_auto,q_auto/v1/blog-stone-prd/2022/02/como-cadastrar-aplicativo-de-delivery-vender-por-aplicativo-celular" class="d-block w-100" alt="...">
    </div>

  </div>
</div>


<!--jumb -->


<section>
{% block page_content %}{% endblock %}
</section>


 <!--footer -->
 <footer

 <div class="container-fluid bg-dark p-5">
 <div class="row">
 <div class="col-sm-12 text-white text-center">
 <p> Desenvolvido por IFPA/CAV</p>
 </br>
 <p> Projeto de pesquisa coordenado por Rogério Soares</p>

 </div>
 </div>
 </div>
 </footer>


 </body>
</html>
